/* import font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

/* colors variables */
:root {
  --blue: #0065fc;
  --blue-light: #deebff;
  --grey: #f2f2f2;
}

.container {
  padding: 0 30px;
  max-width: 1400px;
  margin: auto;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

b {
  display: contents;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

div > a:hover {
  color: black;
}

input {
  outline: none;
  font-size: 16px;
  color: #000;
}

input::placeholder {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

img {
  object-fit: cover;
}

/* Header part */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo img {
  height: 30px;
}

.header_links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_links > a {
  padding: 2rem 1.8rem;
  color: black;
  border-top: 2px solid transparent;
}

.header_links > a:hover {
  border-top: 2px solid var(--blue);
  color: var(--blue);
}

/* main part */

main {
}

.main_title > p {
  margin: 8px 0 20px 0;
}

.search_form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
}

form > span > i {
  background-color: var(--grey);
  padding: 20px;
  border-radius: 15px 0px 0px 15px;
}

form > input {
  border: 1px solid var(--grey);
  padding: 15px;
}

.search_desktop {
  font-size: 16px;
  padding: 8px;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  overflow: hidden;
  border-radius: 0px 10px 10px 0px;
}

form > button:hover {
  cursor: pointer;
}

.search_mobile {
  display: none;
}

/* FILTERS PART */
.main_filters {
  padding: 1.2rem 0 2rem 0;
  display: flex;
  align-items: center;
}

.main_filters > span {
  margin-right: 10px;
}

.main_filters > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_filters > ul > li {
  margin-right: 15px;
}

.main_filters > ul > li:last-child {
  margin-right: 0px;
}

.main_filters > h2 {
  font-size: 15px;
  margin-right: 15px;
}

.main_filters > span {
  font-weight: bold;
}

.main_filters > ul > li:hover {
  transform: scale(1.02);
}

.main_filters > ul > li > span:hover {
  color: var(--blue);
}

.main_filters > ul > li > span > i {
  color: var(--blue);
  margin-right: 10px;
}

.main_filters > ul > li span {
  display: block;
  font-weight: bold;
  padding: 12px 18px;
  font-size: 13.5px;
  border-radius: 25px;
  border: 2px solid var(--grey);
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}

.info_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  width: 20px;
  height: 20px;
  border-radius: 25px;
  margin-right: 10px;
  border: 2px solid var(--grey);
}

.info > p {
  font-size: 14.5px;
}

/* accommodations MARSEILLE PART */
.accommodations {
  display: flex;
  justify-content: space-between;
}

.accommodations_left {
  width: 65%;
  background-color: var(--grey);
  padding: 2%;
  border-radius: 15px;
}

.accommodations_left_display {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2%;
}

.accommodations_left_card {
  width: 32%;
  margin-bottom: 30px;
  background-color: white;
  border: 4px solid white;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 4px 4px 6px #e6e6e6;
}

.accommodations_left_card .stars {
  padding: 5px 10px;
}

.accommodations_left_card:hover {
  transform: scale(1.01);
  color: black;
}

.accommodations_left_img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-radius: 13px 13px 0px 0px;
}

.accommodations_description {
  padding: 5px 10px;
  margin-bottom: 12px;
}

.accommodations_description h3 {
  margin-bottom: 5px;
}
.stars {
  display: flex;
}
.blue_star {
  color: var(--blue);
}
.grey_star {
  color: var(--grey);
}

#more_info {
  font-weight: bold;
  font-size: 18px;
}

/* ACCOMMODATIONS POPULARS PART */
.accommodations_right {
  width: 33%;
  background-color: var(--grey);
  border-radius: 15px;
  padding: 2%;
}

.accommodations_right_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.accommodations_right_title > i {
  color: var(--blue);
}

.accommodations_right_display {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  display: flex;
  margin-top: 0;
}

.accommodations_right_card {
  flex-wrap: wrap;
  object-fit: fill;
  margin-bottom: 30px;
  background-color: white;
  border: 4px solid white;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 4px 4px 6px #e6e6e6;
}

.accommodations_right_card:hover {
  transform: scale(1.01);
}

.img_leftside {
  width: 137px;
  object-fit: fill;
}

.accommodations_right_img {
  width: 100%;
  height: 144px;
  object-fit: cover;
  border-radius: 13px 0px 0px 13px;
}

/*Right part card*/
.pop_rightside {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  flex-direction: column;
  object-fit: fill;
  flex: 1;
}

.pop_top > p {
  margin-top: 5px;
}
.populars_title {
  font-weight: bold;
}
.populars_price {
  font-size: smaller;
  object-fit: fill;
}

.stars_pop {
  display: flex;
  flex-direction: row;
}

/* SECTION ACTIVITIES */
.activities {
  padding: 2rem 0;
}

.activities_container {
  margin-top: 20px;
}
.activities_cards {
  display: flex;
  justify-content: space-between;
}

.activities_card {
  border-radius: 17px 17px 17px 17px;
  box-shadow: 4px 4px 6px #e6e6e6;
  width: 23%;
  overflow: hidden;
}

.activities_card:hover {
  transform: scale(1.01);
}

.img_activities > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.title_activities {
  padding: 15px 10px;
  font-weight: bold;
}

/* FOOTER PART */

.footer_container {
  display: flex;
  padding: 45px 70px;
  background-color: var(--grey);
}

.footer_items {
  width: 33.333%;
}

.footer_items h3 {
  margin-bottom: 10px;
}
.footer_items ul li {
  line-height: 1.8;
}

.footer_items ul li {
}

/* MEDIAS QUERRIES */

/* VERSION TABLETTE */

@media screen and (max-width: 992px) {
  .accommodations {
    flex-direction: column;
  }

  .accommodations_left {
    width: 100%;
  }
  .accommodations_right {
    margin-top: 40px;
    margin-right: 10px;
    width: 100%;
    padding: 3%;
  }

  .accommodations_right_display {
    flex-direction: row;
    margin-bottom: 30px;
  }
  .accommodations_right_card {
    margin-right: 10px;
    margin-bottom: 0;
    width: 33%;
  }
  .accommodations_right_card:last-child {
    margin-right: 0;
  }

  .pop_rightside {
    padding: 10px 8px;
  }

  .pop_rightside h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .pop_rightside p {
    font-size: 13px;
  }

  .img_activities img {
    height: 200px;
  }

  .footer_container {
    justify-content: space-around;
  }

  .footer_items {
    width: auto;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  header {
    display: flex;
    flex-direction: column;
  }

  .header_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 0;
  }

  img #logo {
    height: 55px;
  }

  .header_links {
    display: flex;
    justify-content: space-between;
  }

  .header_links a {
    width: 100%;
    flex: auto;
    border-bottom: 3px solid var(--grey);
    border-bottom-width: 100%;
  }
  .header_links a:hover {
    border-top: none;
    border-bottom: 3px solid var(--blue);
  }

  .top_page {
    width: 95%;
    margin: 0 auto;
    padding: 15px 0;
  }

  .search_form {
    justify-content: center;
  }
  .search_desktop {
    display: none;
  }

  .search_mobile {
    display: block;
    font-size: 16px;
    padding: 18px;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
  }

  .main_filters {
    flex-direction: column;
    align-items: normal;
  }

  .main_filters > span {
    text-align: left;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .main_filters > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .main_filters > ul > li span {
    font-size: 11px;
  }

  .accommodations {
    /* flex-direction: column; */
    flex-direction: column-reverse;
    /* justify-content: space-between; */
  }

  .accommodations_left {
    width: 100%;
    background-color: white;
    padding: 4%;
    border-radius: none;
  }

  .accommodations_right {
    /* margin-top: 40px; */
    /* margin-right: 10px; */
    margin-bottom: 15px;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    padding: 4%;
    border-radius: 0;
  }

  .accommodations_right_title {
    font-size: 22px;
  }

  .accommodations_right_display {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    /* flex-direction: column; */
    /* justify-content: space-between; */
  }

  .accommodations_right_card {
    margin-right: 0px;
    margin-bottom: 10px;
    width: 100%;
  }

  #more_info {
    display: none;
  }

  .accommodations_left_card {
    margin-bottom: 12px;
    width: 100%;
  }

  .accommodations_left_display {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2%;
  }

  .activities {
    padding: 2rem 1rem;
  }

  .activities_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .activities_card {
    margin-right: 0;
    width: 100%;
    margin-bottom: 24px;
  }

  /* FOOTER */

  .footer_container {
    flex-direction: column;
  }

  .footer_items {
    margin-bottom: 40px;
  }
}
