@media screen and (max-width: 992px) {
  .accommodations {
    flex-direction: column;
  }

  .accommodations_left {
    width: 100%;
  }
  .accommodations_right {
    margin-top: 40px;
    margin-right: 10px;
    width: 100%;
    padding: 4%;
  }

  .accommodations_right_display {
    flex-direction: row;
    margin-bottom: 30px;
  }
  .accommodations_right_card {
    margin-right: 15px;
    margin-bottom: 0;
    width: 33%;
  }
  .accommodations_right_card:last-child {
    margin-right: 0;
  }

  .pop_rightside {
    padding: 10px 8px;
  }

  .pop_rightside h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .pop_rightside p {
    font-size: 13px;
  }

  .img_activities img {
    height: 267px;
  }
}
